<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.project.loan.usermag.mapper.UserMapper">

    <resultMap type="UserBean" id="UserResult">
        <result property="userId" column="user_id"/>
        <result property="userLoginName" column="user_loginname"/>
        <result property="userPassword" column="user_password"/>
        <result property="userName" column="user_name"/>
        <association property="userRoleBean" javaType="RoleBean" column="fk_roleid">
            <id column="role_id" property="roleId" />
			<result column="role_name" property="roleName" />
        </association>
        <association property="userCompanyBean" javaType="CompanyBean" column="fk_companyid">
            <id column="company_id" property="companyId" />
			<result column="company_name" property="companyName" />
        </association> 
    </resultMap>
 

    <select id="getByUsername" parameterType="String" resultMap="UserResult">
        select * from t_user  where user_loginname=#{userLoginName}
    </select>

    <select id="getRoles" parameterType="String" resultType="String">
        select role_name from t_user join t_role on fk_roleid = role_id where user_loginname=#{userLoginName}
    </select>
    
    <select id="getPermissions" parameterType="String" resultType="String">
        select power_url from t_user join t_role on fk_roleid = role_id join t_power_role on role_id = fk_role_id join t_power on power_id = fk_power_id where user_loginname=#{userLoginName}
    </select>
    
    	<select id="findUserByPage" resultMap="UserResult">
		select * from t_user join t_role on fk_roleid=role_id join t_company on fk_companyid=company_id
		<include refid="commonSql"></include>
		limit #{pager.index},#{pager.nums}
	</select>
	
		<select id="gettotal" resultType="int">
		select count(user_id) from t_user
		<include refid="commonSql"></include>
	</select>
    	<sql id="commonSql">
		<where>
			<if
				test="pager.params.userName!= null and pager.params.userName!='' ">
				user_name=#{pager.params.userName}
			</if>
		</where>

	</sql>
    

</mapper> 